<!doctype html>
<html lang="en" style="background-color: #3399ff;">

<head>
	<title>Username :{{username}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="/static/css2/style.css">

	<!-- icon -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

	<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

	<script type="text/javascript">
        function disableBack() { window.history.forward(); }
        setTimeout("disableBack()", 0);
        window.onunload = function () { null };
	</script>


</head>

<body>
	<section class="ftco-section" style="	padding-top: 25px;padding-bottom: 25px;  
				background: linear-gradient(to bottom, #003399 0%, #3399ff 100%);">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap py-5" style="background-color: beige;">
						<h3 class="text-center mb-0" style="color: black; "><B>Username :</B> {{username}}</h3><br>
						<!-- <form action="{{ url_for('savecontainer') }}" class="login-form"> -->
						<div class="row">
							<div class="col">
								<div class="form-group">

									<button onclick="myFunction()" type="submit" value="Van01" id="container"
										name="container" class="btn form-control  rounded submit px-3"
										style="background-color: #c0c0c0;">
										<i class="fas fa-shuttle-van"></i> Van01
									</button>
								</div>
							</div>
							<div class="col">
								<div class="form-group">
									<button onclick="myFunction()" type="submit" value="Van02" id="container"
										name="container" class="btn form-control rounded submit px-3"
										style="background-color: #c0c0c0;">
										<i class="fas fa-shuttle-van"></i> Van02
									</button>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="form-group">
									<button onclick="myFunction()" type="submit" value="Van03" id="container"
										name="container" class="btn form-control rounded submit px-3"
										style="background-color: #c0c0c0;">
										<i class="fas fa-shuttle-van"></i> Van03
									</button>
								</div>
							</div>
							<div class="col">
								<div class="form-group">
									<button onclick="myFunction()" type="submit" value="Van04" id="container"
										name="container" class="btn form-control rounded submit px-3"
										style="background-color: #c0c0c0;">
										<i class="fas fa-shuttle-van"></i> Van004
									</button>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="form-group">
									<button onclick="myFunction()" type="submit" value="Van05" id="container"
										name="container" class="btn form-control rounded submit px-3"
										style="background-color: #c0c0c0;">
										<i class="fas fa-shuttle-van"></i> Van05
									</button>
								</div>
							</div>
							<div class="col">
								<div class="form-group">
									<button onclick="myFunction()" type="submit" value="Van06" id="container"
										name="container" class="btn form-control rounded submit px-3"
										style="background-color: #c0c0c0;">
										<i class="fas fa-shuttle-van"></i> Van06
									</button>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="form-group">
									<button onclick="myFunction()" type="submit" value="Van07" id="container"
										name="container" class="btn form-control rounded submit px-3"
										style="background-color: #c0c0c0;">
										<i class="fas fa-shuttle-van"></i> Van07
									</button>
								</div>
							</div>
							<div class="col">
								<div class="form-group">
									<button onclick="myFunction()" type="submit" value="Bus01" id="container"
										name="container" class="btn form-control rounded submit px-3"
										style="background-color: #c0c0c0;">
										<i class="fa fa-bus"></i> Bus01
									</button>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="form-group">
									<button onclick="myFunction()" type="submit" value="Bus02" id="container"
										name="container" class="btn form-control rounded submit px-3"
										style="background-color: #c0c0c0;">
										<i class="fa fa-bus"></i> Bus02
									</button>
								</div>
							</div>
							<div class="col">
								<div>
									<button onClick="refreshAndClose()" type="submit" value="Bus03" id="container"
										name="container" class="btn form-control rounded submit px-3"
										style="background-color: #c0c0c0;">
										<i class="fa fa-bus"></i> Bus03
									</button>
								</div>
							</div>
						</div>
						<div class="col">
							<div>
								<button onClick="quitBox()" type="submit" value="close" id="container"
									name="container" class="btn form-control rounded submit px-3"
									style="background-color: #ea0f0f;">
									<i class="fa fa-times"></i> close
								</button>
							</div>
						</div>
						

						<!-- </form> -->
					</div>
				</div>
			</div>
		</div>
	</section>


	<script src="/static/js2/jquery.min.js"></script>
	<script src="/static/js2/popper.js"></script>
	<script src="/static/js2/bootstrap.min.js"></script>
	<script src="/static/js2/main.js"></script>
	<!-- test window Close -->
	<script language="javascript">

		function quitBox()
		{   
			open("about:Blank", "_self").close();
			window.close();
		}
		
	</script>



</body>

</html>